body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

h1 {
    margin-top: 20px;
    font-size: 2rem;
}

canvas {
    background: black;
    border: 3px solid lime;
    margin-top: 15px;
}

.info {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}
